
#menu{
  padding: 2rem 0rem;
  background-color: #6893be;

  background-color: #c8e3ff;
  padding-left: 20px;  /* mueve el contenido y da la sensación de desplazamiento */
  padding-right: 0px;
  
}


nav{
  background: linear-gradient(to right,#214264, rgb(42, 69, 96));
  color: white;
  padding: 1rem;
  
}


#logo{
  border-radius: 20px;
  margin-top: -7rem;
  width: 100%;
  max-width: 5%;
  display: block;
  margin-left: 3%;
  margin-right: auto;
  height: auto;
  
}



#menu-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: -100%;
  left: 30%;
  
}

#color{
  margin: 0% 3% 0% -5%;
  margin-left: 1%;
  background-color: white;
  height: 100%;
}

nav a {
  color: black;
  margin: 2.0rem;/* espacio flexible entre enlaces */
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  margin-left: 3%;
  justify-content: space-between;
}

a:hover{
  font-weight: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    box-shadow: none;
}


#enlace2{
  white-space: nowrap;
}

#enlace:hover{
  background-color: #6893be;

}

#enlace2:hover{
  background-color: #6893be;
}

#enlace3:hover{
  background-color: #6893be;
}
#enlace4:hover{
  background-color: #6893be;
}


#titulo{
  text-align: center;
  margin-top: 10px;
}

#enlace{
  margin-left: 55%;
}

h1{
  text-align: center;
  margin-top: -7%;
}

h2{
  text-align: center;
  margin-top: 20px;
}

#recomendaciones{
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  
}


h3{
  margin: 4%;
  text-align: center;
}


#novedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    max-width: 1200px;
    margin: 1rem auto 0 auto;
    margin-left: 13%;
}

#libros{
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0rem auto 0 auto;
    margin-left: 11%;
    
}

#titulo6:hover {
    transform: scale(1.05);
    
}
#titulo5:hover, #titulo4:hover, #titulo3:hover, #titulo2:hover, #titulo1:hover {
    transform: scale(1.05);
}

#titulo1, #titulo2, #titulo3 {
    flex: 1 1 30%;
    max-width: 350px;
    background-color: rgb(191, 196, 196);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: -30px;
}

#titulo4, #titulo5, #titulo6 {
    flex: 2 2 20%;
    max-width: 330px;
    background-color: rgb(207, 207, 207);
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: -20px;
    
    margin-left: 1%;
    
    
    
}

#autor{
  position: relative;
  top: -5%;
}

#autors{
  position: relative;
  top: -5%;
  margin-left: -50%;
  margin-right: -50%;
}

#categoria{
  position: relative;
  top: -5%;
}

#isbn{
  margin-left: -40%;
  margin-right: -50%;

}

#isbns{
  margin-left: -40%;
  margin-right: -50%;
  position: relative;
  top: -3%;
}

#editorial{
  margin-left: -40%;
  margin-right: -50%;
  position: relative;
  top: -3%;
}

#aventura, #romance, #fantasia {
    width: 100%;          /* ocupa todo el ancho de su contenedor */
    max-width: 160px;     /* limita tamaño máximo */
    height: auto;         /* mantiene proporción */
    border-radius: 8px;
    margin: 0 auto 1rem auto; /* centra la imagen y separa del texto */
    display: block;
    object-fit: cover;
}

#imagen {
    width: 200%;          /* ocupa todo el ancho de su contenedor */
    max-width: 160px;     /* limita tamaño máximo */
    height: 40%;         /* mantiene proporción */
    
    border-radius: 8px;
    margin: 0 auto 1rem auto; /* centra la imagen y separa del texto */
    display: block;
    object-fit: cover;
    margin-left: -25%;
    position: relative;
    top: -40px;
}

#imagenes {
    width: 220%;          /* ocupa todo el ancho de su contenedor */
    max-width: 160px;     /* limita tamaño máximo */
    height: 40%;         /* mantiene proporción */
    border-radius: 8px;
    margin: 0 auto 1rem auto; /* centra la imagen y separa del texto */
    display: block;
    object-fit: cover;
    margin-left: -20%;
    position: relative;
    top: -30px;
}

#imagenes_narnia{
    width: 220%;          /* ocupa todo el ancho de su contenedor */
    max-width: 160px;     /* limita tamaño máximo */
    height: 40%;         /* mantiene proporción */
    border-radius: 8px;
    margin: 0 auto 1rem auto; /* centra la imagen y separa del texto */
    display: block;
    object-fit: cover;
    margin-left: -25%;
    position: relative;
    top: -30px;
}

#principio{
  position: relative;
  top: -6%;
  margin-left: -10% ;
  margin-right: -10%;
}

#principios{
  position: relative;
  top: -6%;
  margin-left: -30% ;
  margin-right: -10%;
}

#principioso{
  position: relative;
  top: -6%;
  margin-left: -60% ;
  margin-right: -70%;
}

#principioss{
  position: relative;
  top: -6%;
  margin-left: -40% ;
  margin-right: -30%;

}

#segun{
  position: relative;
  top: -2%;
  margin-left: -60% ;
  margin-right: -60%;
}

#segundo{
  position: relative;
  top: -5%;
  margin-left: -60% ;
  margin-right: -60%;
}
#segundos{
  position: relative;
  top: -2%;
  margin-left: -50% ;
  margin-right: -50%;
}

#terceros{
  position: relative;
  top: -4%;
  margin-left: -40% ;
  margin-right: -40%;
}

#tercero{
  position: relative;
  top: -3%;
  margin-left: -40% ;
  margin-right: -40%;
}

#ter{
  position: relative;
  top: -2.3%;
  margin-left: -30% ;
  margin-right: -30%;
}


#boton_enviar {
    background-color: rgb(53, 71, 178);
    color: white;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;
}

#boton_enviar:hover {
    background-color: rgb(33, 51, 158);
    transform: scale(1.1);
}

#boton_comprar {
    background-color: rgb(53, 71, 178);
    color: white;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;
    position: relative;
    top: -3%;

    
}
#boton_comprar:hover {
    background-color: rgb(33, 51, 158);
    transform: scale(1.1);
}
#novedades h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

#libros h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

@media (max-width: 1400px){
  #menu-links,
  #logo, #color {
    display: none;

}
}

#boton_enviar{
  background-color: rgb(53, 71, 178);
  color: white;
}

footer{
    background: linear-gradient(to right,#214264, rgb(42, 69, 96));
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

#contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

#contenido-footer{
    text-align: center;
}

#contenido-footer > p{
    color: #fff;
}

#contenido-footer h4{
    color: black;
    background: linear-gradient(to right,#ffffff, rgb(255, 255, 255));
    padding-bottom: 5px;
    margin-bottom: 10px;
}


#content-foo p{
    color: #ccc;
}

#texto-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

iframe {
    height: 230px;
    width: 230px;
}

#footer{
  text-align: center;
  color: white;
  height: 10%;
}

.menu-btn {
  background-color: #151718;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  margin-left: 90%;
}

.menu-btn {
    display: none;
}

/* APARECE CUANDO LA PANTALLA ES PEQUEÑA */
@media (max-width: 1400px) {
    .menu-btn {
        display: block;
    }
}

.menu-btn:hover {
  background-color: #59cc7f;
  transform: scale(1.05);
}

/* Dropdown oculto por defecto */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 0px;
  overflow: hidden;
  z-index: 1;
  margin-left: 20%;
}

/* Enlaces del menú */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease;
}

.dropdown-content a:hover {
  color: white;
  font-weight: 600;
  background-color: rgb(53, 71, 178);
}
.menu-btn:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}


.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 100%; /* 3 imágenes */
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

/* Radios controlan la posición */
#slide1:checked ~ .slides { transform: translateX(0%); }
#slide2:checked ~ .slides { transform: translateX(-100%); }
#slide3:checked ~ .slides { transform: translateX(-200%); }

/* Flechas */
.arrows label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.arrows .prev { left: 10px; }
.arrows .next { right: 10px; }


#carro{
  width: 30px;
  height: 30px;
  margin-left: 40%;
  position: relative;
  top: 10px;
}

#carro:hover{
  transform: scale(1.2);
}

#cuenta_carro {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 80%;
  position: relative;
  top: -35px;
}




