* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #f5f8fa;
  color: #0f1419;
}


.contenedor-inicio {
  display: flex;
  min-height: 100vh;
}


.barra-lateral {
  width: 220px;
  padding: 1.5rem;
  border-right: 1px solid #cfd9de;
  background: #7C7C7C;
}

.logo-red {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #1da1f2;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item {
  text-decoration: none;
  color: #0f1419;
  font-size: 1.05rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: #e8f5fd;
}

.menu-item:hover {
  background: #d0baa2;
}

.menu-item.activo {
  font-weight: 600;
  color: #1da1f2;
}


.contenido-principal {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  background: #ffffff;
  border-left: 5px solid #cfd9de;
  border-right: 5px solid #cfd9de;
}


.cabecera {
  padding: 1rem;
  border-bottom: 1px solid #cfd9de;
}

.cabecera h1 {
  font-size: 1.3rem;
}


.crear-publicacion {
  padding: 1rem;
  border-bottom: 1px solid #cfd9de;
  display: flex;
  gap: 0.8rem;
}

.crear-publicacion textarea {
  flex: 1;
  border: none;
  resize: none;
  font-size: 1rem;
  outline: none;
}

.boton-registrarse {
  background: #1da1f2;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.6rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.boton-registrarse:hover {
  background: #1a91da;
}


.feed {
  display: flex;
  flex-direction: column;
}

.publicacion {
  padding: 1rem;
  border-bottom: 1px solid #cfd9de;
}

.publicacion h3 {
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

.publicacion p {
  font-size: 0.95rem;
}

.barra-derecha {
  width: 280px;
  padding: 1rem;
  background: #7C7C7C;
}


.panel {
  background: #ffffff;
  border: 1px solid #cfd9de;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.panel h2 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.panel ul {
  list-style: none;
}

.panel li {
  padding: 0.3rem 0;
  font-size: 0.9rem;
}

.panel p {
  font-size: 0.9rem;
  padding: 0.3rem 0;
  cursor: pointer;
}

.panel p:hover,
.panel li:hover {
  color: #1da1f2;
}
.publicacion-imagen img {
  max-width: 100%;
  border-radius: 12px;
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
}
.publicaciones {
   padding: 1rem;
  border-bottom: 1px solid #cfd9de;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: #0f1419 0 1px 1px 0px;
}
.publicaciones:hover{
  background: rgba(0,0,0,.03);
  transform: scale(1.02);
}

  